<header>
    <h1 id="website-heading"><a href="/">SMART SOCIAL</a></h1>
    <ul>
        <% if(locals.user) {%>
        <li>
            <a href='/user/profile/<%= user.id %>'><%= user.name %> </a>
            <a href="/user/signout">
                signout
            </a>
        </li>
        <%} else{%>
        <li>
            <a href="/user/signin">
                signin
            </a>
            <span>/</span>
            <a href="/user/signup">
                signup
            </a>
        </li>
        <%} %>
    </ul>
</header>