<div id="container">
    <link rel="stylesheet" href="/css/home.css">
    <h1>this is the home page</h1>
    <p>this is rendered from the views by express</p>
    <section id="feed-posts">
            <h1>POSTS</h1>
            <% if(locals.user){ %>
                <form action="/posts/create" method="post">
                    <textarea name="content" id="post-content" cols="30" rows="5" placeholder="type here..." required></textarea>
                    <button type="submit" id="post-submit">Post</button>
                </form>
            <% }%>
            <div id="posts-display">
                <ul>
                    <% for(post  of posts){%>
                       <%- include('_posts') -%>    
                    <%} %>
                </ul>
            </div>
    </section>

    <% if(locals.user) { %>
        <section id="users-display">
            <h4>Friends</h4>
            <ul>
                <% for(u of all_users){%>
                    <li>
                        <a href="user/profile/<%= u.id %>"><%=u.name%></a>
                    </li>
                <%} %>
            </ul>
        </section>
    <% } %>
    <script src="home.js"></script>
</div>