<div id="container">
    <h1>Please Login In here</h1>
    <div id="login-section">
        <form action="/user/create-session" method="post" id="sign-in-form">
            <table>
                <tr>
                    <td>
                        <label for="user-email">Email</label>
                    </td>
                    <td>
                        <input type="email" name="email" id="user-email"  required>
                    </td>
                </tr>
                <tr>
                    <td>
                        <label for="user-password">Password</label>
                    </td>
                    <td>
                        <input type="password" name="password" id="user-password" required>
                    </td>
                </tr>
                <tr>
                    <td colspan="2">
                        <button type="submit">Login</button>
                    </td>
                </tr>
            </table>
        </form>
    </div>
</div>