footer {
  height: 15vh;
  background-color: cadetblue;
  color: whitesmoke;
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  font-family: sans-serif; }
  footer div {
    padding: 1rem; }
    footer div #copy-rights-icon {
      color: whitesmoke; }
  footer #links {
    display: flex;
    flex-flow: column wrap;
    justify-content: space-evenly; }
    footer #links a {
      color: whitesmoke;
      text-decoration: none; }
    footer #links a:visited {
      color: whitesmoke; }
